body {
  margin: 0;
  background-color: #d09202;
}

* {
  color: #0a4553;
}

main {
  width: 1024px;
  margin: 0 auto;
}

.fa-heart {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  color: #ed1d24;
}
.fa-heart:hover {
  color: white;
}
